<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>요원서치</title>
    <link th:href="@{css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{fontawesome/css/all.min.css}" rel="stylesheet"/>
    <link th:href="@{css/templatemo-style.css}" rel="stylesheet"/>
    <script th:src="@{js/plugins.js}" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+KR">
</head>
<body>
<!-- Page Loader -->
<div id="loader-wrapper">
    <div id="loader"></div>

    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>

</div>
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img class="w-50 h-50" th:src="@{img/logo.png}"/>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">

        </button>

    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
            <div class="input-group">
                <input type="hidden" name="search_param" value="all" id="search_param">
                <input type="text" class="form-control" name="x" placeholder="Search term...">
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="button">search</button>
                </span>
            </div>
            <div class="d-flex justify-content-evenly mt-3">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="fullStack" checked>
                    <label class="form-check-label" for="fullStack">웹 풀스택</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="backend" checked>
                    <label class="form-check-label" for="backend">백엔드</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="devops" checked>
                    <label class="form-check-label" for="devops">데브옵스</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="security" checked>
                    <label class="form-check-label" for="security">보안</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="dataEngineer" checked>
                    <label class="form-check-label" for="dataEngineer">데이터 엔지니어</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="publishing" checked>
                    <label class="form-check-label" for="publishing">퍼블리싱</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="dba" checked>
                    <label class="form-check-label" for="dba">DBA</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="front" checked>
                    <label class="form-check-label" for="front">프론트</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="ios" checked>
                    <label class="form-check-label" for="ios">IOS</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="android" checked>
                    <label class="form-check-label" for="android">안드로이드</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="AI" checked>
                    <label class="form-check-label" for="AI">인공지능</label>
                </div>
            </div>
        </div>
    </div>


    <div class="row mt-5">
        <h3 class="col-6 tm-text-primary">
            어제 편입
        </h3>
        <h3 class="col-6 tm-text-primary">
            이번달 편입
        </h3>
    </div>
    <div class="row">
        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                보충역 편입
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">3</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                현역 편입
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">3</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                보충역 편입
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">3</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                현역 편입
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">3</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container-fluid tm-container-content tm-mt-60">
        <div class="row mb-4">
            <h3 class="col-6 tm-text-primary">
                채용 공고
            </h3>
        </div>
        <div class="row tm-mb-90 tm-gallery" id="list-container">
        </div>
        <!-- row -->
        <div class="row tm-mb-90">
            <div class="col-12 d-flex justify-content-between align-items-center tm-paging-col">
                <a class="btn btn-primary tm-btn-prev mb-2 disabled">Previous</a>
                <div class="tm-paging d-flex">
                </div>
                <a class="btn btn-primary tm-btn-next">Next Page</a>
            </div>
        </div>
    </div>

    <footer class="tm-bg-gray pt-5 pb-3 tm-text-gray tm-footer">
        <div class="container-fluid tm-container-small">
            <div class="row">
                <div>
                    <h3 class="tm-text-primary mb-4 tm-footer-title">Agent Search</h3>
                    <p>
                        All rights reserved. Powered by agent search.
                        Contact : katd216@gmail.com
                    </p>
                </div>
            </div>
        </div>
    </footer>

    <script>
        const PAGE_NUMBER = 4;
        const PAGE_SIZE = 16
        let currentPage = 0;
        let totalPage = 0;

        const TEMPLATE = `
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
                          <figure class="effect-ming tm-video-item">
                              <img src="#{COMPANY_LOGO}#" alt="Image" class="img-fluid">
                              <figcaption class="d-flex align-items-center justify-content-center">

                                  <h2><span>잡플래닛 평점</span>
                                      <br/>
                                      <span>#{JOBPLANET_REVIEW}#</span>
                                  </h2>
                                  <a href=#{WANTED_ORIGIN_LINK}#>View more</a>
                              </figcaption>
                          </figure>
                          <div class="d-flex justify-content-between tm-text-gray">
                              <span class="tm-text-gray-light">#{CREATE_YEAR}#</span>
                              <span>#{JOB_POSITION}#</span>
                              <span><a href=#{JOBPLANET_ORIGIN_LINK}#>#{COMPANY_NAME}#</a></span>
                          </div>
              </div>
    `
        const PAGE_TEMPLATE = `
    <a class="tm-paging-link" data-value="#{PAGE_NUM}#">#{PAGE_NUM}#</a>
    `
        window.addEventListener("load", () => {
            sendPagingRequest(0)
            document.body.classList.add("loaded");
        });

        const paging = document.querySelector('.tm-paging');
        for (let i = 0; i < PAGE_NUMBER; i++) {
            paging.innerHTML += (PAGE_TEMPLATE.replaceAll("#{PAGE_NUM}#", i + 1));
        }

        const prevBtn = document.querySelector('.tm-btn-prev');
        prevBtn.addEventListener('click', () => {
                if (currentPage <= 0) {
                    currentPage = 0;
                    prevBtn.classList.add("disabled");
                    return;
                }
                nextBtn.classList.remove("disabled");
                currentPage--;
                sendPagingRequest(currentPage)
            }
        )
        const nextBtn = document.querySelector('.tm-btn-next');
        nextBtn.addEventListener('click', () => {
                if (currentPage + 1 >= totalPage) {
                    currentPage = totalPage;
                    nextBtn.classList.add("disabled");
                    return;
                }
                prevBtn.classList.remove("disabled")
                currentPage++;
                sendPagingRequest(currentPage)
            }
        )

        function sendPagingRequest(page) {
            axios.get("/api/recruitments", {
                params: {
                    page: page,
                    pageSize: PAGE_SIZE,
                },
            }).then((resp) => {
                const data = resp.data
                console.log(data)
                const dom = document.querySelector("#list-container");
                dom.innerHTML = '';
                data.content.forEach((job) => {
                        const averageScore = job.jobPlanetScore === null ? "확인불가" : job.jobPlanetScore.slice(0,3);
                        const jobPlanetOriginLink = job.jobPlanetOriginLink === null ? "javascript:void(0);" : job.jobPlanetOriginLink;
                        dom.innerHTML += (
                            TEMPLATE.replace("#{COMPANY_LOGO}#", job.companyLogoPath)
                                .replace("#{JOB_POSITION}#", job.jobPosition)
                                .replace("#{WANTED_ORIGIN_LINK}#", job.wantedOriginLink)
                                .replace("#{CREATE_YEAR}#", job.createYear)
                                .replace("#{COMPANY_NAME}#", job.companyName)
                                .replace("#{JOBPLANET_REVIEW}#", averageScore)
                                .replace("#{JOBPLANET_ORIGIN_LINK}#", jobPlanetOriginLink)
                        );
                    }
                )
                currentPage = data.pageable.pageNumber
                totalPage = data.totalPages;

                const firstPageNumber = Number(paging.firstElementChild.getAttribute('data-value'));
                const lastPageNumber = firstPageNumber + PAGE_NUMBER;
                if (firstPageNumber > currentPage + 1) {
                    paging.innerHTML = '';
                    const nextBound = currentPage + 1 - PAGE_NUMBER
                    for (let i = currentPage + 1; i > nextBound && i >= 0; i--) {
                        paging.innerHTML = (PAGE_TEMPLATE.replaceAll("#{PAGE_NUM}#", i)) + paging.innerHTML;
                    }
                }
                if (lastPageNumber <= currentPage + 1) {
                    paging.innerHTML = '';
                    const nextBound = currentPage + 1 + PAGE_NUMBER
                    for (let i = currentPage + 1; i < nextBound && i <= totalPage; i++) {
                        paging.innerHTML += (PAGE_TEMPLATE.replaceAll("#{PAGE_NUM}#", i));
                    }
                }
                paging.querySelectorAll('a').forEach((dom) => {
                    if (Number(dom.getAttribute("data-value")) === (currentPage + 1)) {
                        dom.classList.add('active');
                    } else {
                        dom.classList.remove('active');
                    }
                });
                document.querySelectorAll(".tm-paging-link")
                    .forEach((dom) => {
                        dom.addEventListener('click', () => {
                            sendPagingRequest(dom.getAttribute("data-value") - 1)
                            document.querySelectorAll(".tm-paging-link").forEach((dom) => dom.classList.remove("active"));
                            dom.classList.add("active");
                        })
                    });
            });
        }


    </script>
</body>
</html>